.button {
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;

  background-color: #ffacac;
  color: #53488d;
  border: none;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  color: #53488d;
  background-color: #ffe5e5;
}
