.cell {
  font-size: 14em;
  color: #c4c4c4;

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% / 3);
  height: 200px;

  background-color: #44425e;

  border: none;
  cursor: pointer;
}
