.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  background-color: #545f7d;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  font: inherit;
  font-size: 48px;
  color: #c4c4c4;
  text-transform: uppercase;
}

.input {
  background: #c4c4c4;
}

.input:focus {
  outline: none;
  outline: 1px solid #ffacac;
}

.input::placeholder {
  font: inherit;
  color: #545f7d;
}
.input:not(:last-child) {
  margin-right: 20px;
}

.button {
  display: flex;
  justify-content: space-around;
}
